body {
    font-family: "major_mono_displayregular", monospace;
    text-align: center;
}
#menubar {
    background-color: rgb(23, 23, 24);
    color:white;
    padding: 70px;
}
#pageContent {
    background-color: rgb(180, 178, 178);
    color:black;
    padding: 20px;
}
button {
    color: white;
    background-color: black;
    border-radius: 3px;
    font-family: "major_mono_displayregular", monospace;
}
#name {
    font-size: x-large;
    font-weight: bolder;
}
#neighborhood {
    font-size: x-large;
}